@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

section {
    display: grid;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" 
                         "article image" 
                         "footer image";

}

header {
    grid-area: header;
    height: 40px;
    display: flex;
}

nav {
    flex-grow: 1;
}

article {
    grid-area: article;
    overflow: hidden;
}

picture {
    grid-area: image;
    justify-self: end;
    overflow: hidden;
}

footer {
    grid-area: footer;
    margin: 0px 0px 0px 16px;
    font-weight: 300;
    color: #ADADAD;
}

footer>small>a {
    text-decoration: none;
    color: #6066F2;
}