@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#container {
    display: grid;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" 
                         "article image" 
                         "footer image";

}

#header {
    grid-area: header;
    height: 40px;
    display: flex;
}

nav {
    flex-grow: 1;
}