#brand>img {
    height: 40px;
}

.shape1,.shape2 {
    position: absolute;
}

.shape1 {
    z-index: -1;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
}

.shape2 {
    z-index: -1;
    bottom: 0;
    right: 0;
    height: 40%;
}