#navigation > ul >li{
    display: inline-block;
}

#navigation>ul>li>a {
    text-decoration: none;
    font-size: 15pt;
    font-weight: 400;
    color: #6066F2;
    cursor: pointer;
    line-height: 40px;
    padding: 0 5px;
    transition: all .2s ease-in-out both;
    -webkit-transition: all .2s ease-in-out both;
}

#navigation>ul>li>a:hover {
    color: #8a378d;
}

.button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 23px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    color: #FFF;
    font-size: 10pt;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 700;
    transition: all .2s ease-in-out both;
    -webkit-transition: all .2s ease-in-out both;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.button > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
}

.button:hover {
    background-color: #8a378d;
}

#btn-cart {
    background-color: #488CF5;
}

#btn-login {
    background-color: #F4891F;
}

#article>span {
    width: 382px;
    height: 323px;
    opacity: .35;
    font-size: 269pt;
    font-weight: 700;
    letter-spacing: 30px;
    text-align: center;
    color: #6066F2;
    opacity: 47%;
    position: absolute;
    z-index: -1;
    margin-top: 105px;
} 

#article>h1 {
    margin: 190px 0px 0px 18px;
    font-size: 45pt;
    font-weight: 700;
    color: #6066F2;
    line-height: 65px;
    text-align: left;
    width: 500px;
    height: 174px;
}

#article>h2 {
    margin: 110px 0px 0px 18px;
    letter-spacing: 2.5px;
    font-size: 18pt;
    font-weight: 400;
    line-height: 23px;
    color: #6066F2;
    opacity: 72%;
    width: 660px;
    height: 65px;
    text-align: left;
}

.sendmessage {
    overflow: hidden;
    margin: 30px 0px 0px 18px;
    width: 395px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.sendmessage input {
    width: 390px;
    height: 40px;
    border-radius: 9px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

#message,#mail {
    position: relative;
}

#message>input,#mail>input {
    padding-left: 54px;
}

#message>i>img, #mail>i>img {
    position: absolute;
    padding-left: 16px;
    margin: 12px auto;
}

.btn-send {
    width: 390px;
    height: 45px;
    border-radius: 28px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    cursor: pointer;
    background-color: #488CF5;
    color: #FFF;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    font-weight: 400;
    font-size: 18pt;
}

.btn-send>i>img {
    margin: 5px 0px 0px 0px;
}

.btn-send:hover {
    background-color: #3988ff;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    /* opacity: 0; */
    transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.body-modal {
    background-color: #FFF;
    width: 500px;
    height: 300px;
    position: relative;
    margin: 10% auto;
    display: flex;
    align-items: stretch;
    text-align: center;
}

.fone-msg {
    position: absolute;
    top: 0;
    left: 10px;
    height: 300px;
    /* width: 100%; */
    z-index: -1;
    opacity: .5;
}

.side-left {
    width: 45%;
    background-color: #6F1E56;
    padding-top: 130px;
    opacity: .5;
}

.side-left>h1 {
    font-size: 16pt;
    font-weight: 700;
    color: #FFF;
}

.side-left>p {
    font-size: 16pt;
    font-weight: 700;
}

.side-right {
    width: 55%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 42px;
}

.side-right>button {
    background-color: #488CF5;
    width: 169px;
    height: 26px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
    border: none;
    border-radius: 11px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.side-right>button:hover {
    background-color: #3988ff;
}